<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snackis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Snackis</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @using SNACKIS___Webb.Tools

                    @{bool returnTokenValue = TokenChecker.UserStatus;}

                    @if (returnTokenValue == true)
                    {

                        <p>Välkommen @TokenChecker.UserName</p>
                        <div class="dropdown">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meny
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-page="/User/UserPage">Min sida</a>
                                <a class="dropdown-item" type="button"  href="/User/LogOut">Logga ut</a>

                        @if (ToolBox.ActiveRole == "root")
                        {
                            <p>Välkommen @TokenChecker.UserName</p>
                            <div class="dropdown">
                                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Meny
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-page="/Admin/Index">Admin</a>
                                    <a class="dropdown-item" type="button" href="/User/LogOut">Logga ut</a>
                                </div>  

                            </div>

                        }
                        else
                        {
                            <p>Välkommen @TokenChecker.UserName</p>
                            <div class="dropdown">
                                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Meny
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-page="/User/UserPage">Min sida</a>
                                    <a class="dropdown-item" type="button" href="/User/LogOut">Logga ut</a>
                                </div>
                            </div>

                        }

                    }
                    else
                    {

                        <div class="dropdown" style="margin-left: 910px">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meny
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Auth/LoginPage">Logga in</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Auth/RegisterPage">Registrera</a>
                            </div>
                        </div>


                    }
                </div>
            </div>



            





        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Snackis - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
