@page
@model SNACKIS___Webb.Pages.Admin.ReportedPostsModel
@{
}
<h2>Alla anmälda poster: (@Model.Posts.Count)</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    <form method="post">
                        <input  id="toggle" asp-for="@Model.postId"  style="visibility : hidden"value="@item.Id" />
                        <button class="btn btn-info btn-sm" type="submit">Toggla</button>
                    </form>
                </td>
                <td>
                    <a asp-page="Delete" asp-route-DeletedId="@item.Id"  class="btn btn-danger">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info btn-sm" asp-page="Index" >Tillbaka</a>