@page
@model SNACKIS___Webb.Pages.Admin.ReportedPostsModel
@{
}
<h2>Alla anmälda poster: (@Model.Posts.Count)</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    <form method="post"><a class="btn btn-info" asp-page="/ReportedPosts" asp-route-postId="@item.Id">Toggle</a></form>
                    
                    <a class="btn btn-outline-danger btn-sm" asp-page="Delete" asp-route-id="@item.Id">Radera</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info btn-sm" asp-page="Index" >Tillbaka</a>