@page
@model SNACKIS___Webb.Pages.Admin.ReportedPostsModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/AdminStyleSheet.css" />
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h2>Alla anmälda poster: (@Model.PostCounter)</h2>
        </div>
    </div>
    
    <table class="table">

        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Title/
                </th>
                <th>
                    Content
                </th>
                <th>
                    Date
                </th>
            </tr>

        </thead>
        

        <tbody>
            @foreach (var item in Model.Posts)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        <div class="text-center align-self-center">
                            <form method="post">
                                <input id="toggle" asp-for="@Model.postId" style="visibility : hidden" value="@item.Id" />
                                <button class="btn btn-info btn-sm" style="margin-bottom: 5px" type="submit">Toggla</button>
                            </form>
                        </div>
                        <div class="text-center align-self-center">
                            <a asp-page="Delete" asp-route-DeletedId="@item.Id" style="margin-bottom: 5px" class="btn btn-danger btn-sm">Radera</a>
                        </div>
                    </td>
                    
                </tr>
            }
            @foreach (var item in Model.ReportedPostDiscussions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discussion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        <div class="text-center align-self-center">
                            <form asp-page-handler="ReportDiscussion">
                                <div style="visibility : hidden">
                                    <input asp-for="DiscussionId" value="@item.Id" />
                                </div>
                                <input class="btn btn-info btn-sm"  style="margin-bottom: 5px" type="submit" value="Toogla" />
                            </form>
                        </div>
                        <div class="text-center align-self-center">
                            <a asp-page="DeletePostDiscussionView" asp-route-DeletedDiscussionId="@item.Id"  style="margin-bottom: 5px" class="btn btn-danger btn-sm">Radera</a>
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-info btn-sm" asp-page="Index">Tillbaka</a>
</div>