@page
@model SNACKIS___Webb.Pages.User.chattModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css">

</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">

    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner sidebar -->
            <div class="inner-sidebar text-center">
                <h3>Meddelande:</h3>
                <!-- /Inner sidebar header -->
                <!-- Inner sidebar body -->
                <div class="inner-sidebar-body p-0">
                    <div class="p-3 h-100" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <nav class="nav nav-pills nav-gap-y-1 flex-column">


                                                @foreach (var item in Model.Messages)
                                                {
                                                    @if (item.User.id != ToolBox.LoggedInUserID)
                                                    {
                                                        <a asp-route-UserId="@item.User.id" class="btn btn-info">@item.User.userName</a><br />
                                                    }

                                                }

                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                    </div>
                </div>

            </div>

            <div class="inner-main">

                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <!--Foreach-->


                    @foreach (var item in Model.Messages.Where(x => x.MessageReceiver == Model.UserId || Model.UserId == x.UserId).OrderBy(x => x.Date))
                    {


                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <p>@item.User.userName<small>@item.Date</small></p>

                                <div class="media forum-item">
                                    @if (item.User.Image == null)
                                    {
                                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                    }
                                    else
                                    {
                                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="/img/@item.User.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                    }
                                    <div class="media-body">
                                        <p class="text-secondary">
                                            @item.Message
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>


                    }

                   
                <form asp-page-handler="Post">
                    <div class="form-group" style="visibility: hidden">
                        <input asp-for="NewMessage.UserId" class="form-control" value="@ToolBox.LoggedInUserID" />
                    </div>
                    <div class="form-group" style="visibility: hidden">
                        <input asp-for="NewMessage.MessageReceiver" class="form-control" value="@Model.UserId" />
                    </div>
                    <div class="form-group">
                        <label for="">Skriv ditt svar här</label>
                        <textarea class="form-control"  asp-for="NewMessage.Message" id="exampleFormControlTextarea1" rows="3"></textarea>
                       
                    </div>
                    <input class="btn btn-info" type="submit" value="Svara" />
                </form>
                </div>


                <!-- /Forum Detail -->
                <!-- /Inner main body -->
            </div>
            <!-- /Inner main -->
        </div>

        <!-- New Thread Modal -->
        <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header d-flex align-items-center bg-primary text-white">
                            <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="threadTitle">Title</label>
                                <input type="text" class="form-control" id="threadTitle" placeholder="Enter title" autofocus="" />
                            </div>
                            <textarea class="form-control summernote" style="display: none;"></textarea>

                            <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                <label class="custom-file-label" for="customFile">Attachment</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
