@page
@model SNACKIS___Webb.Pages.User.NewMessageModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
</head>

<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        @foreach (var item in Model.Users.Where(x => x.id != ToolBox.LoggedInUserID))
        {
            <form method="get">
                <div style="visibility :hidden">
                    <input asp-for="UserId" value="@item.id" />
                </div>
                <button class="dropdown-item" type="submit">@item.userName</button>
            </form>
        }

    </div>
</div>
<hr />

@if (!string.IsNullOrEmpty(Model.UserId))
{
    <form asp-page-handler="Post">
        <div class="card" >  
            <div class="card-header">
                Till: @Model.User.userName
            </div>
        </div>
        <div class="form-group" style="visibility: hidden">
            <input asp-for="NewMessage.UserId" class="form-control" value="@ToolBox.LoggedInUserID" />
        </div>
        <div class="form-group" style="visibility: hidden">
            <input asp-for="NewMessage.MessageReceiver" class="form-control" value="@Model.UserId" />
        </div>
        <div class="form-group">
            <label for="">Skriv ditt meddelande nedan</label>
            <textarea style="outline : 3px solid lightblue" class="form-control" asp-for="NewMessage.Message" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-info" type="submit" value="Skicka" />
    </form>
}
