@page
@model SNACKIS___Webb.Pages.PostAndReplyViewModel
@{
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    bool returnTokenValue = HttpContextAccessor.HttpContext.Session.GetString("Role") is not null;
}

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css">
</head>
<div class="container">
    <div class="main-body p-0">
        <nav class="nav nav-pills nav-justified mobile-view justify-content-center">
            @foreach (var cat in Model.Categories)
            {

                <a class="btn btn-info" style="margin:2px;" asp-page="/PostsInCategoryPage" asp-route-CatId="@cat.Id">@cat.Title</a><br />

            }
        </nav>
        <div class="inner-wrapper">
            <div class="inner-sidebar text-center desktop-view">
                <h3>Kategorier</h3>
                <div class="inner-sidebar-body p-0">
                    <div class="p-3 h-100" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                @foreach (var cat in Model.Categories)
                                                {

                                                    <a class="btn btn-info" asp-page="/PostsInCategoryPage" asp-route-CatId="@cat.Id">@cat.Title</a><br />

                                                }
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                    </div>
                </div>
            </div>
            <div class="inner-main">
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <h3>Tråd: @Model.ClickedPost.Title</h3>
                    <div class="card mb-2" style="outline : 3px solid lightblue">
                        <div class="card-body p-2 p-sm-3">

                            <p>@Model.ClickedPost.User.userName</p>

                            <div class="media forum-item">
                                @if (Model.ClickedPost.User.Image == null)
                                {
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                }
                                else
                                {
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="/img/@Model.ClickedPost.User.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                }

                                <div class="media-body">

                                    <p class="text-secondary">
                                        <strong>@Model.ClickedPost.Title</strong><br />
                                        @Model.ClickedPost.Content

                                    </p>
                                    <small>@Model.ClickedPost.Date</small>
                                </div>
                                @if (returnTokenValue)
                                {
                                <div class="text-muted small text-center align-self-center">
                                    <form method="Post">
                                        <input class="btn btn-danger btn-sm" type="submit" value="Anmäl" />
                                    </form>
                                </div>
                                }
                            </div>
                        </div>

                    </div>
                    @if (Model.ClickedPost.PostDiscussions != null)
                    {
                    @foreach (var item in Model.ClickedPost.PostDiscussions.OrderBy(x => x.Date))
                        {
                    <div class="card mb-2">
                        <div class="card-body p-2 p-sm-3">
                            <p>@item.User.userName</p>
                            <div class="media forum-item">
                                @if (item.User.Image == null)
                                        {
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                        }
                                        else
                                        {
                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="/img/@item.User.Image" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                        }
                                <div class="media-body">

                                    <p class="text-secondary">
                                        @item.Discussion
                                    </p>
                                    <div class=" text-muted">
                                        <small>@item.Date</small>
                                    </div>
                                </div>
                                @if (returnTokenValue)
                                        {
                                <div class="text-center align-self-center ">
                                    <form class="report-btn" asp-page-handler="ReportDiscussion">
                                        <div style="visibility : hidden">
                                            <input asp-for="PostId" value="@Model.PostId" />
                                            <input asp-for="DiscussionPostId" class="btn btn-danger" value="@item.Id" />
                                        </div>
                                        <input class="btn btn-danger btn-sm" type="submit" value="Anmäl" />
                                    </form>
                                </div>
                                         }
                            </div>
                        </div>
                    </div>


                        }

                    }
                            @if(Model.ClickedPost.PostDiscussions == null && returnTokenValue )
                            {
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="alert-success" role="alert">
                                            <h3>Bli den första med att svara på den här tråden!</h3>
                                        </div>
                                    </div>
                                </div>

                            }

                    @if (returnTokenValue)
                    {

                    <form asp-page-handler="CreateDiscussion">
                        <div class="form-group" style="visibility: hidden">
                            <input asp-for="PostId" class="form-control" value="@Model.PostId" />
                        </div>
                        <div class="form-group">
                            <label for="">Skriv ditt svar här</label>
                            <textarea class="form-control" name="discussion" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <input class="btn btn-success" type="submit" value="Svara" />
                                <a class="btn btn-info" style="max-height : 100px ; max-width :200px ; align-content : center" href="/Index">Startsida</a>
                            </div>
                        </div>

                    </form>

                    }
                    else
                    {
                    <div class="row">
                        <div class="col-sm-10">
                            <strong class="text-danger">Du måste vara inloggad för att göra inlägg</strong><br />
                            <a asp-page="Auth/RegisterPage" class="btn btn-success" style="max-height : 100px ; max-width :200px ; align-content : center">Skapa konto</a>

                            <a asp-page="Auth/LoginPage" class="btn btn-info" style="max-height : 100px ; max-width :200px ; align-content : center">Logga in</a>
                            <a class="btn btn-info" style="max-height : 100px ; max-width :200px ; align-content : center" href="/Index">Startsida</a>
                        </div>
                    </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>
